<jce-user-form (userAddedEvent) = "adduser($event)"> </jce-user-form>
<jce-spinner [visible] = "isLoading"></jce-spinner>
<div>
  <ul class="list-group users"> 
    
    <li *ngFor = "let user of users" 
         [class.active]="currentUser == user"
         (click) = "select(user)" 
          class="list-group-item" >
        <!--> <jce-user [user]= "user"
         (deleteEvent) = "deleteUser($event)"></jce-user>     <!-->
         <jce-user [user] = user (deleteEvent) = "deleteUser($event)" user (editEvent) = "updateUser($event)"></jce-user>

            <ul>
         <li *ngFor = "let title of user.posTitles">
            {{(title | async)?.title}}
          </li>
        </ul>    


    </li>
  </ul>
</div>